{% extends "layout.html" %}

{% block title %}Home - Personal Finance Dashboard{% endblock %}

{% block content %}
<button 
    type="button" class="btn btn-outline-danger btn-floating btn-lg" 
    style="position: fixed; bottom: 20px; right: 20px; display: none;" 
    onclick="window.scrollTo(0,0)" id="btn-back-to-top"
>
    <i class="bi bi-arrow-up"></i>
</button>
<div class="container-fluid d-flex flex-lg-row flex-column-reverse vh-auto p-5 bg-light text-dark">
    <!--
    <div class="ps-3">
        <div class="calculator card bg-primary">
            <div class="card-body">
                <div class="screen">
                </div>
                <div class="buttons">
                    <button class="btn btn-success">On</button>
                    <span></span>
                    <button class="btn btn-secondary ps-2">&Sqrt;</button>
                    <button class="btn btn-secondary">±</button>
                    <button class="btn btn-danger p-1">AC</button>
                    <button class="btn btn-danger">C</button>
                    <button class="btn btn-secondary ps-2">%</button>
                    <button class="btn btn-secondary">÷</button>
                    <button class="btn btn-light">7</button>
                    <button class="btn btn-light">8</button>
                    <button class="btn btn-light">9</button>
                    <button class="btn btn-secondary">x</button>
                    <button class="btn btn-light">4</button>
                    <button class="btn btn-light">5</button>
                    <button class="btn btn-light">6</button>
                    <button class="btn btn-secondary">-</button>
                    <button class="btn btn-light">1</button>
                    <button class="btn btn-light">2</button>
                    <button class="btn btn-light">3</button>
                    <button class="btn btn-secondary">+</button>
                    <button class="btn btn-light">0</button>
                    <button class="btn btn-light">.</button>
                    <button class="btn btn-light">=</button>
                </div>
            </div>
        </div>
        <div class="credit-card card border-0 bg-primary">
            <div class="card-body">
                <span class="d-flex flex-row justify-content-between">
                    <p>Platinum</p>
                    <h5>MyKl-Y</h5>
                </span>
                <div class="p-3">
                    <div class="card border-0 d-inline-flex flex-row" 
                        style="
                            background: 
                                radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;">
                        <div class="card-body py-3 px-4"></div>
                    </div>
                    <h4 class="card-title m-0 mt-2">1234 5678 9012 3456</h4>
                    <div class="w-50">
                        <div class="d-flex flex-row justify-content-between">
                            <span style="font-size: xx-small;">1234</span>
                            <span class="d-flex flex-row justify-content-between pt-2">
                                <span class="d-flex flex-column lh-1 justify-content-center align-items-center" style="font-size: xx-small;">
                                    <span>GOOD</span><span>THRU</span>
                                </span>
                                &nbsp;12 / 99
                            </span>
                        </div>
                    </div>
                    <div class="card-text d-flex flex-row justify-content-between">
                        <span>JOHN A DOE</span>
                        <h3 class="w-50 text-end m-0">$$$$</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="w-auto pe-3">
        <h1 id="#">Manage Your Financial Future with <b>Our Finance Tool<span class="text-primary">.</span></b></h1>
        <p>
            With our user-friendly tool you will be able to track your income, expenses, and investments in one place
            while also creating budgets, setting financial goals, and monitoring your progress over time. 
        </p>
        {% if current_user.is_authenticated %}
            <a role="button" class="btn btn-primary rounded-pill w-50" href="{{ url_for('web.dashboard') }}">Go to your dashboard</a>
        {% else %}
        <form class="d-inline-flex direction-row rounded-pill border p-1" method="post" action="{{ url_for('web.register') }}">
            <input class="form-control w-auto border-0 rounded-pill me-2 bg-transparent" required placeholder="youremail@email.com" name="email">
            <button class="btn btn-outline-primary rounded-pill" type="submit">Enter</button> 
        </form>
        {% endif %}
    </div>
    <div class="w-auto ps-3 d-flex justify-content-center">
        <div class="hero">
            <div class="bg-primary">s</div>
            <div class="bg-danger">s</div>
            <div class="bg-success">s</div>
            <div class="bg-warning">s</div>
        </div>
    </div>
</div>
<div class="container-fluid vh-auto p-5 bg-dark text-light">
    <h2 id="explore">Explore</h2>
</div>
<div class="container-fluid vh-auto p-5 bg-light text-dark">
    <h2 id="about">About</h2>
</div>
<div class="container-fluid vh-auto p-5 bg-dark text-light">
    <h2 id="pricing">Pricing</h2>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const btnBackToTop = document.getElementById('btn-back-to-top');
        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                btnBackToTop.style.display = 'block';
            } else {
                btnBackToTop.style.display = 'none';
            }
        };
    });
</script>
{% endblock %}