{% extends "layout.html" %}

{% block title %}Home - M.Y.MoneyMap{% endblock %}

{% block content %}
<div id="home-view" class="container-fluid d-flex flex-lg-row flex-column-reverse vh-auto min-vh-100 p-5 bg-light text-dark">
    <div id="home" style="position: absolute; top: 0; height: 50vh;"></div>
    <div class="w-auto me-lg-5 text-lg-start text-center">
        <h1 class="mb-4" id="home">Manage Your Financial Future with <b>Our Finance Tool<span class="text-primary">.</span></b></h1>
        <p class="sub">
            With our user-friendly tool you will be able to track your income, expenses, and investments in one place
            while also creating budgets, setting financial goals, and monitoring your progress over time. 
        </p>
        {% if current_user.is_authenticated %}
            <a role="button" class="btn btn-primary rounded-pill w-50" href="{{ url_for('web.dashboard') }}">Go to your dashboard</a>
        {% else %}
        <form id="enter-form" class="d-inline-flex direction-row rounded-pill border p-1" method="post" action="{{ url_for('web.register') }}">
            <input class="form-control w-auto border-0 rounded-pill me-2 bg-transparent" required placeholder="youremail@email.com" name="email">
            <button class="btn btn-outline-primary rounded-pill" type="submit">Enter</button> 
        </form>
        {% endif %}
        <div class="d-flex flex-row justify-content-between text-center mt-5">
            <div id="list" class="d-flex flex-column">
                <h3>Track</h3>
                <p>Track your income, expenses, and investments in one place.</p>
            </div>
            <div id="list" class="d-flex flex-column">
                <h3>Plan</h3>
                <p>Create budgets, set financial goals, and monitor your progress over time.</p>
            </div>
            <div id="list" class="d-flex flex-column">
                <h3>Secure</h3>
                <p>Rest assured that your data is safe and secure with us.</p>
            </div>
        </div>
    </div>
    <div class="w-auto d-flex justify-content-center">
        <div class="hero ms-lg-5">
            <div class="bg-primary">s</div>
            <div class="bg-danger">s</div>
            <div class="bg-success">s</div>
            <div class="bg-warning">s</div>
        </div>
    </div>
</div>
<div class="container-fluid vh-auto p-5 bg-light text-dark min-vh-100">
    <div id="explore" style="top: 0; height: 5rem;"></div>
    <h2 id="explore">Explore</h2>
</div>
<div class="container-fluid vh-auto p-5 bg-light text-dark min-vh-100">
    <div id="about" style="top: 0; height: 5rem;"></div>
    <h2 id="about">About</h2>
</div>
<div class="container-fluid vh-auto p-5 bg-light text-dark min-vh-100 mb-5">
    <div id="pricing" style="top: 0; height: 5rem;"></div>
    <h2 id="pricing">Pricing</h2>
</div>
<button 
    type="button" class="btn btn-outline-danger btn-floating btn-lg" 
    style="position: fixed; bottom: 20px; right: 20px; display: none;" 
    onclick="window.scrollTo(0,0)" id="btn-back-to-top"
>
    <i class="bi bi-arrow-up"></i>
</button>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const btnBackToTop = document.getElementById('btn-back-to-top');
        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                btnBackToTop.style.display = 'block';
            } else {
                btnBackToTop.style.display = 'none';
            }
        };
    });
</script>
{% endblock %}